<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page EJS Simple</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('../partials/header') %> 
  
   <section>
    <div class="main">
        <div class="container">
            <h2>Inscription</h2>
            <form action="/resgister" method="post">
                <div class="input-group">
                    <label for="nom">Nom:</label>
                    <input type="text" id="nom" name="nom" required>
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirmer le mot de passe:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <button type="submit" class="btn">S'inscrire</button>
            </form>
        </div>
    </div>
   </section>
    <%- include('../partials/footer') %> 

   
</body>

</html>