<footer>
    <h3>Mariusdev</h3>
    <ul>
        <li><a href="#">Legal Mention </a> </li>
        <li><a href="#"> Facebook </a> </li>
        <li><a href="#"> Tiktok </a> </li>
    
    </ul>

</footer>