<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page EJS Simple</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('../partials/header') %> 
  
   <section>
    <div class="main">
        <h1>Bienvenue  sur ma page EJS</h1>
        <p>Ceci est un exemple de page rendue avec EJS.</p>
    </div>
   </section>
    <%- include('../partials/footer') %> 

   
</body>

</html>